<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<vehicle type="pallet" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../shared/xml/schema/vehicle.xsd">
    <annotation>Copyright (C) GIANTS Software GmbH, All Rights Reserved.</annotation>

    <storeData>
        <name>$l10n_storeItem_springOnionBoxPallet</name>
        <image>$data/objects/pallets/springOnionBoxPallet/store_springOnionBoxPallet.png</image>
        <price>450</price>
        <category>pallets</category>
        <brand>NONE</brand>
        <showInStore>false</showInStore>
        <canBeSold>false</canBeSold>
        <financeCategory>OTHER</financeCategory>
        <vertexBufferMemoryUsage>29440</vertexBufferMemoryUsage>
        <indexBufferMemoryUsage>9472</indexBufferMemoryUsage>
        <textureMemoryUsage>262144</textureMemoryUsage>
        <instanceVertexBufferMemoryUsage>0</instanceVertexBufferMemoryUsage>
        <instanceIndexBufferMemoryUsage>0</instanceIndexBufferMemoryUsage>

        <storeIconRendering>
            <settings centerIcon="true" cameraXRot="-15" cameraYRot="35"/>
        </storeIconRendering>
        <audioMemoryUsage>0</audioMemoryUsage>
    </storeData>

    <base>
        <typeDesc>$l10n_typeDesc_pallet</typeDesc>
        <filename>$data/objects/pallets/springOnionBoxPallet/springOnionBoxPallet.i3d</filename>
        <size width="1.3" length="0.9" height="0.6" />
        <canBeReset>false</canBeReset>
        <components maxMass="400">
            <component centerOfMass="0 0.1 0" solverIterationCount="10" mass="60" />
        </components>
        <showInVehicleMenu>false</showInVehicleMenu>
        <mapHotspot available="false" />
        <input allowed="false"/>
    </base>

    <fillUnit>
        <fillUnitConfigurations>
            <fillUnitConfiguration>
                <fillUnits>
                    <fillUnit unitTextOverride="$l10n_unit_literShort" fillTypes="SPRING_ONION" capacity="10000" ignoreFillLimit="true"/>
                </fillUnits>
            </fillUnitConfiguration>
        </fillUnitConfigurations>
    </fillUnit>

    <pallet fillUnitIndex="1" linkNode="springOnionBoxPallet_main_component1">
        <texture diffuse="$data/objects/pallets/shared/euroPallet/euroPalletNew_diffuse.dds"/>
        <texture diffuse="$data/objects/pallets/shared/euroPallet/euroPalletMiddle_diffuse.dds"/>
        <texture diffuse="$data/objects/pallets/shared/euroPallet/euroPalletOld_diffuse.dds"/>

        <content>
            <object node="springOnionBox01" tensionBeltNode="springOnionBox_Tension01"/>
            <object node="springOnionBox02" tensionBeltNode="springOnionBox_Tension02"/>
            <object node="springOnionBox03" tensionBeltNode="springOnionBox_Tension03"/>
            <object node="springOnionBox04" tensionBeltNode="springOnionBox_Tension04"/>
            <object node="springOnionBox05" tensionBeltNode="springOnionBox_Tension05"/>
            <object node="springOnionBox06" tensionBeltNode="springOnionBox_Tension06"/>
            <object node="springOnionBox07" tensionBeltNode="springOnionBox_Tension07"/>
            <object node="springOnionBox08" tensionBeltNode="springOnionBox_Tension08"/>
            <object node="springOnionBox09" tensionBeltNode="springOnionBox_Tension09"/>
            <object node="springOnionBox10" tensionBeltNode="springOnionBox_Tension10"/>
            <object node="springOnionBox11" tensionBeltNode="springOnionBox_Tension11"/>
            <object node="springOnionBox12" tensionBeltNode="springOnionBox_Tension12"/>
            <object node="springOnionBox13" tensionBeltNode="springOnionBox_Tension13"/>
            <object node="springOnionBox14" tensionBeltNode="springOnionBox_Tension14"/>
            <object node="springOnionBox15" tensionBeltNode="springOnionBox_Tension15"/>
            <object node="springOnionBox16" tensionBeltNode="springOnionBox_Tension16"/>
        </content>

        <sounds>
            <unload template="palletsFillWood" pitchScale="0.9" />
        </sounds>
    </pallet>

    <dynamicMount triggerNode="dynamicMountTrigger" triggerForceAcceleration="4" additionalMountDistance="0.539" jointTransY="0.106" jointLimitToRotY="true"/>

    <i3dMappings>
        <i3dMapping id="springOnionBoxPallet_main_component1" node="0>" />
        <i3dMapping id="dynamicMountTrigger" node="0>0" />
        <i3dMapping id="dischargeNode" node="0>1" />
        <i3dMapping id="springOnionBox01" node="0>2|0" />
        <i3dMapping id="springOnionBox_Tension01" node="0>2|0|1" />
        <i3dMapping id="springOnionBox02" node="0>2|1" />
        <i3dMapping id="springOnionBox_Tension02" node="0>2|1|0" />
        <i3dMapping id="springOnionBox03" node="0>2|2" />
        <i3dMapping id="springOnionBox_Tension03" node="0>2|2|0" />
        <i3dMapping id="springOnionBox04" node="0>2|3" />
        <i3dMapping id="springOnionBox_Tension04" node="0>2|3|0" />
        <i3dMapping id="springOnionBox05" node="0>2|4" />
        <i3dMapping id="springOnionBox_Tension05" node="0>2|4|0" />
        <i3dMapping id="springOnionBox06" node="0>2|5" />
        <i3dMapping id="springOnionBox_Tension06" node="0>2|5|0" />
        <i3dMapping id="springOnionBox07" node="0>2|6" />
        <i3dMapping id="springOnionBox_Tension07" node="0>2|6|0" />
        <i3dMapping id="springOnionBox08" node="0>2|7" />
        <i3dMapping id="springOnionBox_Tension08" node="0>2|7|0" />
        <i3dMapping id="springOnionBox09" node="0>2|8" />
        <i3dMapping id="springOnionBox_Tension09" node="0>2|8|0" />
        <i3dMapping id="springOnionBox10" node="0>2|9" />
        <i3dMapping id="springOnionBox_Tension10" node="0>2|9|0" />
        <i3dMapping id="springOnionBox11" node="0>2|10" />
        <i3dMapping id="springOnionBox_Tension11" node="0>2|10|0" />
        <i3dMapping id="springOnionBox12" node="0>2|11" />
        <i3dMapping id="springOnionBox_Tension12" node="0>2|11|0" />
        <i3dMapping id="springOnionBox13" node="0>2|12" />
        <i3dMapping id="springOnionBox_Tension13" node="0>2|12|0" />
        <i3dMapping id="springOnionBox14" node="0>2|13" />
        <i3dMapping id="springOnionBox_Tension14" node="0>2|13|0" />
        <i3dMapping id="springOnionBox15" node="0>2|14" />
        <i3dMapping id="springOnionBox_Tension15" node="0>2|14|0" />
        <i3dMapping id="springOnionBox16" node="0>2|15" />
        <i3dMapping id="springOnionBox_Tension16" node="0>2|15|0" />
    </i3dMappings>
</vehicle>
